In [ ]:
#Tugas1
import random

def Menambahkan(input_list):
    for _ in range(4):
        input_list.append(random.randint(1, 50))

def Menghapus(input_list):
    input_list = [input_list[i] for i in range(len(input_list)) if i % 2 == 0]
    return input_list

def Membalikkan(input_list):
    input_list.reverse()
    return input_list

def Menduplikasi(input_list):
    elemen_pertama = input_list[0]
    input_list.append(elemen_pertama)
    return input_list

def Menghilangkan(input_list):
    nilai_minimum = min(input_list)
    input_list.remove(nilai_minimum)
    return input_list

def Mengurutkan(input_list):
    input_list.sort()
    return input_list

def tampilkan_menu():
    print("Menu:")
    print("1. Menambahkan 4 elemen numerik acak.")
    print("2. Menghapus elemen di indeks ganjil.")
    print("3. Membalik urutan elemen dalam list.")
    print("4. Menggandakan elemen pertama dan menambahkannya ke akhir list.")
    print("5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.")
    print("6. Mengurutkan list secara ascending.")
    print("7. Exit")

def output():
    my_list = [5, 3, 8, 2, 7]

    while True:
        print("\nList Asli:", my_list)
        tampilkan_menu()
        pilihan = input("Masukkan pilihan Anda (1-7): ")

        if pilihan == '1':
            Menambahkan(my_list)
        elif pilihan == '2':
            my_list = Menghapus(my_list)
        elif pilihan == '3':
            my_list = Membalikkan(my_list)
        elif pilihan == '4':
            my_list = Menduplikasi(my_list)
        elif pilihan == '5':
            my_list = Menghilangkan(my_list)
        elif pilihan == '6':
            my_list = Mengurutkan(my_list)
        elif pilihan == '7':
            print("Exit")
            break
        else:
            print("Pilihan tidak valid. Harap masukkan angka dari 1 hingga 7.")

if __name__ == "__main__":
    output()

List Asli: [5, 3, 8, 2, 7]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 1

List Asli: [5, 3, 8, 2, 7, 44, 48, 20, 13]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 2

List Asli: [5, 8, 7, 48, 13]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 3

List Asli: [13, 48, 7, 8, 5]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 4

List Asli: [13, 48, 7, 8, 5, 13]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 5

List Asli: [13, 48, 7, 8, 13]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 6

List Asli: [7, 8, 13, 13, 48]
Menu:
1. Menambahkan 4 elemen numerik acak.
2. Menghapus elemen di indeks ganjil.
3. Membalik urutan elemen dalam list.
4. Menggandakan elemen pertama dan menambahkannya ke akhir list.
5. Mencari dan menghapus elemen dengan nilai terkecil dalam list.
6. Mengurutkan list secara ascending.
7. Exit
Masukkan pilihan Anda (1-7): 7
Exit

In [ ]:
#Tugas2
def preprocessing_scores(scores):
    scores = [(subject, score) for subject, score in scores if subject != '' and score != '']

    max_scores = {}
    for subject, score in scores:
        if subject not in max_scores or int(score) > int(max_scores[subject]):
            max_scores[subject] = score

    filtered_scores = [(subject, max_score) for subject, max_score in max_scores.items()]

    return filtered_scores

def Menghitung(scores):
    return len(scores)

def Mengurutkan(scores):
    scores.sort(key=lambda x: int(x[1]))
    return scores

scores = [('Matematika', '85'),
          ('Biologi', ''),
          ('Kimia', '90'),
          ('Fisika', '80'),
          ('Matematika', '88'),
          ('Biologi', '95'),
          ('', '100'),
          ('Fisika', '82')]

Menyaring_scores = preprocessing_scores(scores)
print("Hasil setelah preprocessing:", Menyaring_scores)

total_entries = Menghitung(Menyaring_scores)
print("Jumlah total entri yang tersisa:", total_entries)

Mengurutkan_scores = Mengurutkan(Menyaring_scores)
print("Hasil pengurutan entri berdasarkan skor dari yang terendah hingga tertinggi:", Mengurutkan_scores)

Hasil setelah preprocessing: [('Matematika', '88'), ('Kimia', '90'), ('Fisika', '82'), ('Biologi', '95')]
Jumlah total entri yang tersisa: 4
Hasil pengurutan entri berdasarkan skor dari yang terendah hingga tertinggi: [('Fisika', '82'), ('Matematika', '88'), ('Kimia', '90'), ('Biologi', '95')]

In [ ]:
import numpy as np

array1 = np.random.randint(1, 30, size=8)
print("Array awal:")
print(array1)

minsc = np.min(array1)
maxsc = np.max(array1)
normalisasi1 = (array1 - minsc) / (maxsc - minsc)

print("\nHasil normalisasi array menggunakan Min-Max Scaling:")
print(normalisasi1)

normalisasi2 = np.sort(normalisasi1)[::-1]
print("\nArray setelah diurutkan dari nilai terbesar ke terkecil setelah dinormalisasi:")
print(normalisasi2)

Array awal:
[15 28  7  9 11 16 26 13]

Hasil normalisasi array menggunakan Min-Max Scaling:
[0.38095238 1.         0.         0.0952381  0.19047619 0.42857143
 0.9047619  0.28571429]

Array setelah diurutkan dari nilai terbesar ke terkecil setelah dinormalisasi:
[1.         0.9047619  0.42857143 0.38095238 0.28571429 0.19047619
 0.0952381  0.        ]

In [ ]:
import pandas as pd

data = {
    'Merk Mobil': ['Toyota', 'Honda', 'Suzuki', 'Hyundai', 'Mazda', 'Ford', 'BMW', 'Mercedes', 'Mitsubishi', 'Nissan'],
    'Kota': ['Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Surabaya', 'Jakarta', 'Bandung', 'Surabaya'],
    'Harga (Juta Rupiah)': [200, 150, 120, 180, 220, 250, 500, 550, 200, 170],
    'Tahun': [2015, 2016, 2017, 2018, 2015, 2016, 2017, 2018, 2015, 2016],
    'Status': ['Sold', 'Sold', 'Available', 'Sold', 'Available', 'Sold', 'Sold', 'Available', 'Sold', 'Available']
}

df = pd.DataFrame(data)
print(df)

summary_stats = df['Harga (Juta Rupiah)'].describe()
print("\n=======================================================================\n")
print(summary_stats)

top_cities = df[df['Status'] == 'Sold']['Kota'].value_counts().nlargest(3)
print("\n=======================================================================")
print("\nTop 3 Kota dengan jumlah mobil terjual terbanyak:")
print(top_cities)

same_price_cars = df[df.duplicated(subset=['Harga (Juta Rupiah)'], keep=False)]
print("\n=======================================================================")
print("\nMobil yang memiliki harga yang sama:")
print(same_price_cars)

quartiles = df['Harga (Juta Rupiah)'].quantile([0.25, 0.5, 0.75])
def categorize_price(price):
    if price <= quartiles[0.25]:
        return 'Murah'
    elif price >= quartiles[0.75]:
        return 'Mahal'
    else:
        return 'Sedang'

df['Kategori'] = df['Harga (Juta Rupiah)'].apply(categorize_price)
print("\n=======================================================================")
print(df)

   Merk Mobil      Kota  Harga (Juta Rupiah)  Tahun     Status
0      Toyota   Jakarta                  200   2015       Sold
1       Honda   Bandung                  150   2016       Sold
2      Suzuki   Jakarta                  120   2017  Available
3     Hyundai  Surabaya                  180   2018       Sold
4       Mazda   Bandung                  220   2015  Available
5        Ford   Jakarta                  250   2016       Sold
6         BMW  Surabaya                  500   2017       Sold
7    Mercedes   Jakarta                  550   2018  Available
8  Mitsubishi   Bandung                  200   2015       Sold
9      Nissan  Surabaya                  170   2016  Available

=======================================================================

count     10.000000
mean     254.000000
std      147.738508
min      120.000000
25%      172.500000
50%      200.000000
75%      242.500000
max      550.000000
Name: Harga (Juta Rupiah), dtype: float64

=======================================================================

Top 3 Kota dengan jumlah mobil terjual terbanyak:
Jakarta     2
Bandung     2
Surabaya    2
Name: Kota, dtype: int64

=======================================================================

Mobil yang memiliki harga yang sama:
   Merk Mobil     Kota  Harga (Juta Rupiah)  Tahun Status
0      Toyota  Jakarta                  200   2015   Sold
8  Mitsubishi  Bandung                  200   2015   Sold

=======================================================================
   Merk Mobil      Kota  Harga (Juta Rupiah)  Tahun     Status Kategori
0      Toyota   Jakarta                  200   2015       Sold   Sedang
1       Honda   Bandung                  150   2016       Sold    Murah
2      Suzuki   Jakarta                  120   2017  Available    Murah
3     Hyundai  Surabaya                  180   2018       Sold   Sedang
4       Mazda   Bandung                  220   2015  Available   Sedang
5        Ford   Jakarta                  250   2016       Sold    Mahal
6         BMW  Surabaya                  500   2017       Sold    Mahal
7    Mercedes   Jakarta                  550   2018  Available    Mahal
8  Mitsubishi   Bandung                  200   2015       Sold   Sedang
9      Nissan  Surabaya                  170   2016  Available    Murah